<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Cadastrar Pagamento</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/cadastrar_pagamento.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

<div class="form-container">

    <h1>Cadastrar Pagamento</h1>

    <form method="POST">

        <select name="aluno_id" required>
            <option value="">Selecione o aluno</option>

            {% for aluno in alunos %}
                <option value="{{ aluno.id }}">
                    {{ aluno.nome }}
                    {% if aluno.plano %}
                        - {{ aluno.plano.nome }} - R$ {{ aluno.plano.valor }}
                    {% endif %}
                </option>
            {% endfor %}
        </select>

        <input
        type="number"
        step="0.01"
        name="valor"
        placeholder="Valor do pagamento">

        <input
        type="date"
        name="data"
        required>

        <select name="status" required>
            <option value="Pago">Pago</option>
            <option value="Pendente">Pendente</option>
            <option value="Atrasado">Atrasado</option>
        </select>

        <select name="forma_pagamento" required>
            <option value="">Forma de pagamento</option>
            <option value="Pix">Pix</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Cartão">Cartão</option>
            <option value="Transferência">Transferência</option>
        </select>

        <input
        type="text"
        name="banco"
        placeholder="Banco usado">

        <input
        type="text"
        name="chave_pix"
        placeholder="Chave Pix / dados bancários">

        <button type="submit">
            Cadastrar
        </button>

    </form>

    <a href="{{ url_for('pagamento.listar') }}">
        Voltar
    </a>

</div>

</body>
</html>